html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

body {
	background-image: url("../img/bg.png");
	background-repeat: repeat;
}

.container {
	display: grid;
	grid-template-columns: auto 260px 470px;
	grid-template-rows: auto auto auto;
	grid-template-areas:
	"videoiframe chatiframe player1"
	"videoiframe chatiframe player2"
	"stats       chatiframe player3";
}

.player {
	min-width: 450px;
	min-height: 230px;
	margin: 0px 0px 10px 20px;
	background-image: url("../img/box_bg.png");
	background-repeat: repeat;
	text-align: center;
}

.loginbox {
	border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.loginform {
	text-align: left;
	margin: 0px 20px 0px 20px;
}

.loginform label {
  margin-bottom: 20px;
	display: block;
}

.oauthbtn {
	padding: 8px 14px 8px 14px;
	font-size: 15px;
	outline: 1px solid black;
	background-color: white;
}

.loginoption {
	display: inline-block;
	font-weight: bold;
	padding: 10px 10px 10px 20px;
}

.loginoption:hover {
	text-shadow: 0px 2px 20px #000000;
}

.alignleft {
	text-align: left;
}

.classSelect {
	display: none;
}

.classSelect button, .targetPriority button {
	display: inline-block;
	padding: 4px;
	background-color: white;
	margin: 0px 5px 10px 5px;
}

.playBoard button {
	background-color: white;
}

#playBoard1 {
	display: none;
	grid-template-columns: 100px 50px 50px 50px 50px 30px 100px;
  grid-template-rows: 35px 35px 50px 50px 50px;
	grid-template-areas:
	"stats11 stats11 stats11 stats11 stats11 stats11 stats11"
	"stats21 stats21 stats21 stats21 stats21 stats21 stats21"
	"up1 t11 t21 t31 t41 altar1 targetPriority1"
	"down1 t51 t61 t71 t81 altar1 switchClass1"
	"train1 t91 t101 t111 t121 altar1 leave1";
	margin: 0px 10px 10px 10px;
}

#playBoardStatsLine11 p, #playBoardStatsLine21 p,
#playBoardStatsLine12 p, #playBoardStatsLine22 p,
#playBoardStatsLine13 p, #playBoardStatsLine23 p {
	display: inline;
}

#playBoardStatsLine11 {grid-area: stats11; align-self: center;}
#playBoardStatsLine21 {grid-area: stats21; align-self: center;}
#powerUp1 {grid-area: up1;}
#powerDown1 {grid-area: down1;}
#train1 {grid-area: train1;}
#tower11 {grid-area: t11;}
#tower21 {grid-area: t21;}
#tower31 {grid-area: t31;}
#tower41 {grid-area: t41;}
#tower51 {grid-area: t51;}
#tower61 {grid-area: t61;}
#tower71 {grid-area: t71;}
#tower81 {grid-area: t81;}
#tower91 {grid-area: t91;}
#tower101 {grid-area: t101;}
#tower111 {grid-area: t111;}
#tower121 {grid-area: t121;}
#altar1 {grid-area: altar1;}
#targetPriority1 {grid-area: targetPriority1;}
#switchClass1 {grid-area: switchClass1;}
#leave1 {grid-area: leave1;}

#playBoard2 {
	display: none;
	grid-template-columns: 100px 50px 50px 50px 50px 30px 100px;
  grid-template-rows: 35px 35px 50px 50px 50px;
	grid-template-areas:
	"stats12 stats12 stats12 stats12 stats12 stats12 stats12"
	"stats22 stats22 stats22 stats22 stats22 stats22 stats22"
	"up2 t12 t22 t32 t42 altar2 targetPriority2"
	"down2 t52 t62 t72 t82 altar2 switchClass2"
	"train2 t92 t102 t112 t122 altar2 leave2";
	margin: 0px 10px 10px 10px;
}

#playBoardStatsLine12 {grid-area: stats12; align-self: center;}
#playBoardStatsLine22 {grid-area: stats22; align-self: center;}
#powerUp2 {grid-area: up2;}
#powerDown2 {grid-area: down2;}
#train2 {grid-area: train2;}
#tower12 {grid-area: t12;}
#tower22 {grid-area: t22;}
#tower32 {grid-area: t32;}
#tower42 {grid-area: t42;}
#tower52 {grid-area: t52;}
#tower62 {grid-area: t62;}
#tower72 {grid-area: t72;}
#tower82 {grid-area: t82;}
#tower92 {grid-area: t92;}
#tower102 {grid-area: t102;}
#tower112 {grid-area: t112;}
#tower122 {grid-area: t122;}
#altar2 {grid-area: altar2;}
#targetPriority2 {grid-area: targetPriority2;}
#switchClass2 {grid-area: switchClass2;}
#leave2 {grid-area: leave2;}

#playBoard3 {
	display: none;
	grid-template-columns: 100px 50px 50px 50px 50px 30px 100px;
  grid-template-rows: 35px 35px 50px 50px 50px;
	grid-template-areas:
	"stats13 stats13 stats13 stats13 stats13 stats13 stats13"
	"stats23 stats23 stats23 stats23 stats23 stats23 stats23"
	"up3 t13 t23 t33 t43 altar3 targetPriority3"
	"down3 t53 t63 t73 t83 altar3 switchClass3"
	"train3 t93 t103 t113 t123 altar3 leave3";
	margin: 0px 10px 10px 10px;
}

#playBoardStatsLine13 {grid-area: stats13; align-self: center;}
#playBoardStatsLine23 {grid-area: stats23; align-self: center;}
#powerUp3 {grid-area: up3;}
#powerDown3 {grid-area: down3;}
#train3 {grid-area: train3;}
#tower13 {grid-area: t13;}
#tower23 {grid-area: t23;}
#tower33 {grid-area: t33;}
#tower43 {grid-area: t43;}
#tower53 {grid-area: t53;}
#tower63 {grid-area: t63;}
#tower73 {grid-area: t73;}
#tower83 {grid-area: t83;}
#tower93 {grid-area: t93;}
#tower103 {grid-area: t103;}
#tower113 {grid-area: t113;}
#tower123 {grid-area: t123;}
#altar3 {grid-area: altar3;}
#targetPriority3 {grid-area: targetPriority3;}
#switchClass3 {grid-area: switchClass3;}
#leave3 {grid-area: leave3;}

#videoiframe {
	grid-area: videoiframe;
	width: 100%;
	height: 100%;
	min-width: 620px;
	min-height: 350px;
	margin: 0px 10px 10px 0px;
}

#chatiframe {
	grid-area: chatiframe;
	width: 100%;
	height: 100%;
	min-width: 260px;
	min-height: 700px;
	margin: 0px 10px 0px 10px;
}

#player1 {
	grid-area: player1;
}

#player2 {
	grid-area: player2;
}

#player3 {
	grid-area: player3;
	margin-bottom: 0px;
}

#targetPriorityDiv1,
#targetPriorityDiv2,
#targetPriorityDiv3 {
	display: none;
	margin-top: 10px;
}

.loadingClasses {
	text-align: center;
	display: none;
}

.loadingClasses button{
	background-color: white;
}

.loadingClassesTooLong {
	display: none;
}

#stats {
	grid-area: stats;
	background-image: url("../img/box_bg.png");
	background-repeat: repeat;
	margin: 10px 0px 0px 0px;
	padding: 0px 10px 10px 10px;
}
