html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

body {
	background-image: url("../img/bg.png");
	background-repeat: repeat;
}

.container {
	display: grid;
	grid-template-columns: auto 300px 470px;
	grid-template-rows: auto auto auto;
	grid-template-areas:
	"videoiframe chatiframe player1"
	"videoiframe chatiframe player2"
	"stats       chatiframe player3";
}

.player {
	min-width: 450px;
	min-height: 230px;
	margin: 0px 0px 10px 20px;
	background-image: url("../img/box_bg.png");
	background-repeat: repeat;
	text-align: center;
}

.loginbox {
	border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.loginform {
	text-align: left;
	margin: 0px 20px 0px 20px;
}

.loginform label {
  margin-bottom: 20px;
	display: block;
}

.oauthbtn {
	padding: 8px 14px 8px 14px;
	font-size: 15px;
	outline: 1px solid black;
	background-color: white;
}

.loginoption {
	display: inline-block;
	font-weight: bold;
	padding: 10px 10px 10px 20px;
}

.loginoption:hover {
	text-shadow: 0px 2px 20px #000000;
}

.alignleft {
	text-align: left;
}

.classSelect {
	display: none;
}

.classSelect button {
	display: inline-block;
	padding: 4px;
	background-color: white;
	margin: 0px 5px 10px 5px;
}

.playBoard button {
	background-color: white;
}

#playBoard1 {
	display: none;
	grid-template-columns: 100px 50px 50px 50px 50px 30px 100px;
  grid-template-rows: 35px 35px 50px 50px 50px;
	grid-template-areas:
	"rank1 rank1 rank1 rank1 rank1 rank1 rank1"
	"gem1 gem1 gem1 gem1 gem1 gem1 gem1"
	"up1 t1_1 t2_1 t3_1 t4_1 altar1 targetPriority1"
	"down1 t5_1 t6_1 t7_1 t8_1 altar1 switchClass1"
	"train1 t9_1 t10_1 t11_1 t12_1 altar1 leave1";
	margin: 0px 10px 10px 10px;
}

#playerRank1 {grid-area: rank1;}
#playerGem1 {grid-area: gem1;}
#powerUp1 {grid-area: up1;}
#powerDown1 {grid-area: down1;}
#train1 {grid-area: train1;}
#tower1_1 {grid-area: t1_1;}
#tower2_1 {grid-area: t2_1;}
#tower3_1 {grid-area: t3_1;}
#tower4_1 {grid-area: t4_1;}
#tower5_1 {grid-area: t5_1;}
#tower6_1 {grid-area: t6_1;}
#tower7_1 {grid-area: t7_1;}
#tower8_1 {grid-area: t8_1;}
#tower9_1 {grid-area: t9_1;}
#tower10_1 {grid-area: t10_1;}
#tower11_1 {grid-area: t11_1;}
#tower12_1 {grid-area: t12_1;}
#altar1 {grid-area: altar1;}
#targetPriority1 {grid-area: targetPriority1;}
#switchClass1 {grid-area: switchClass1;}
#leave1 {grid-area: leave1;}

#playBoard2 {
	display: none;
	grid-template-columns: 100px 50px 50px 50px 50px 30px 100px;
  grid-template-rows: 35px 35px 50px 50px 50px;
	grid-template-areas:
	"rank2 rank2 rank2 rank2 rank2 rank2 rank2"
	"gem2 gem2 gem2 gem2 gem2 gem2 gem2"
	"up2 t1_2 t2_2 t3_2 t4_2 altar2 targetPriority2"
	"down2 t5_2 t6_2 t7_2 t8_2 altar2 switchClass2"
	"train2 t9_2 t10_2 t11_2 t12_2 altar2 leave2";
	margin: 0px 10px 10px 10px;
}

#playerRank2 {grid-area: rank2;}
#playerGem2 {grid-area: gem2;}
#powerUp2 {grid-area: up2;}
#powerDown2 {grid-area: down2;}
#train2 {grid-area: train2;}
#tower1_2 {grid-area: t1_2;}
#tower2_2 {grid-area: t2_2;}
#tower3_2 {grid-area: t3_2;}
#tower4_2 {grid-area: t4_2;}
#tower5_2 {grid-area: t5_2;}
#tower6_2 {grid-area: t6_2;}
#tower7_2 {grid-area: t7_2;}
#tower8_2 {grid-area: t8_2;}
#tower9_2 {grid-area: t9_2;}
#tower10_2 {grid-area: t10_2;}
#tower11_2 {grid-area: t11_2;}
#tower12_2 {grid-area: t12_2;}
#altar2 {grid-area: altar2;}
#targetPriority2 {grid-area: targetPriority2;}
#switchClass2 {grid-area: switchClass2;}
#leave2 {grid-area: leave2;}

#playBoard3 {
	display: none;
	grid-template-columns: 100px 50px 50px 50px 50px 30px 100px;
  grid-template-rows: 35px 35px 50px 50px 50px;
	grid-template-areas:
	"rank3 rank3 rank3 rank3 rank3 rank3 rank3"
	"gem3 gem3 gem3 gem3 gem3 gem3 gem3"
	"up3 t1_3 t2_3 t3_3 t4_3 altar3 targetPriority3"
	"down3 t5_3 t6_3 t7_3 t8_3 altar3 switchClass3"
	"train3 t9_3 t10_3 t11_3 t12_3 altar3 leave3";
	margin: 0px 10px 10px 10px;
}

#playerRank3 {grid-area: rank3;}
#playerGem3 {grid-area: gem3;}
#powerUp3 {grid-area: up3;}
#powerDown3 {grid-area: down3;}
#train3 {grid-area: train3;}
#tower1_3 {grid-area: t1_3;}
#tower2_3 {grid-area: t2_3;}
#tower3_3 {grid-area: t3_3;}
#tower4_3 {grid-area: t4_3;}
#tower5_3 {grid-area: t5_3;}
#tower6_3 {grid-area: t6_3;}
#tower7_3 {grid-area: t7_3;}
#tower8_3 {grid-area: t8_3;}
#tower9_3 {grid-area: t9_3;}
#tower10_3 {grid-area: t10_3;}
#tower11_3 {grid-area: t11_3;}
#tower12_3 {grid-area: t12_3;}
#altar3 {grid-area: altar3;}
#targetPriority3 {grid-area: targetPriority3;}
#switchClass3 {grid-area: switchClass3;}
#leave3 {grid-area: leave3;}

#videoiframe {
	grid-area: videoiframe;
	width: 100%;
	height: 100%;
	min-width: 620px;
	min-height: 350px;
	margin: 0px 10px 10px 0px;
}

#chatiframe {
	grid-area: chatiframe;
	width: 100%;
	height: 100%;
	min-width: 300px;
	min-height: 700px;
	margin: 0px 10px 0px 10px;
}

#player1 {
	grid-area: player1;
}

#player2 {
	grid-area: player2;
}

#player3 {
	grid-area: player3;
	margin-bottom: 0px;
}

.loadingClasses {
	text-align: center;
	display: none;
}

.loadingClasses button{
	background-color: white;
}

.loadingClassesTooLong {
	display: none;
}

#stats {
	grid-area: stats;
	background-image: url("../img/box_bg.png");
	background-repeat: repeat;
	margin: 10px 0px 0px 0px;
}
